.menu {
  position: fixed;
  top: 64px;
  left: 0;

  height: calc(100vh - 64px);
  width: 160px;
  padding-top: 20px;
  background-color: var(--mantle);

  display: flex;
  flex-direction: column;
}

.menu a {
  text-decoration: none;
  color: var(--text);
  padding: 6px 8px 6px 16px;
  font-size: 25px;
}

.menu a:hover {
  color: var(--rosewater);
}
